<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>737C581826794F87002AF06F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73BEB79726750D0F001D4C6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73FCD80D267F5071001B67E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
